@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*, *::before, *::after { 
    box-sizing:border-box;
    }
    
    body{ 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin:0; 
    padding:0;  
    }

    h1{ 
      font-family:'Poppins', sans-serif; 
      font-size:96px;
    }

    h2{ 
      font-family:'Poppins', sans-serif; 
      font-size:64px;
    }

    h3{ 
      font-family:'Poppins', sans-serif; 
      font-size:48px;
    }
    
    h5{
      font-family:'Poppins', sans-serif; 
      font-size:24px;
     margin-bottom: 0;
    }

    .hero-image{
    background-image: url(Images/HomePage.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

    .hero-image-GI{
      background-image: url(Images/General\ Information.jpg);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      }
      .hero-image-experience{
        background-image: url(Images/Experience.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }
.hero-image-pass-info{
  background-image: url(Images/Pass\ Info.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-music{
  background-image: url(Images/Music.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-camping{
  background-image: url(Images/Camping.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

    .hero-text{ 
    position:absolute;
    top:40%;
    left:30%;
    line-height: 20px;
    text-align: center; 
    z-index: 9;
    color:#361A1A;
    background: rgba(250, 240, 215, .6);
    padding: 20px;

    }

    .section-text{ 
      position:absolute;
      top:50%;
      left:35%;
      line-height: 100px;
      text-align: center; 
      z-index: 9;
      color:#361A1A;
      background: rgba(250, 240, 215, .6);
      padding: 20px 60px;
  
      }
  
    
   
    
    .container {
      display: grid;
    }
    
    
    .navigation{ 
    background: var(--background);
    text-align: center; 
    position: absolute;
    width:100%;
    z-index:999;
    }
    
    .nav-toggle{ 
    display: none
    }
    
    .nav-toggle-label{ 
    position: absolute; 
    top:0; 
    left:0; 
    margin-left: 1em; 
    height: 100%;
    display: flex; 
    align-items: center;
    }
    
    .nav-toggle-label span{ 
    color:black;
    font-size: 1.5em;
    }
    
    nav{ 
    position: absolute; 
    text-align: right; 
    top:100%; 
    left:0;
    width:100%;
    transform:scale(1,0);
    transition:transform 400ms ease-in-out;
    transform-origin:top; 
     
    }

    .logo{
      margin-top:25px;
    }
    
    nav ul { 
    margin:0; 
    margin-top:25px;
    padding:0; 
    list-style:none;
    font-weight:700;
    }
    
    nav li{ 
    margin-bottom:1em; 
    margin-left: 1em;
    }
    
    nav a { 
    color: black; 
     text-decoration:none; 
     font-size: 1.2rem;
      text-transform: uppercase;
      opacity:0;
    }
    
    nav a:hover{ 
    color:black;
    }
    
    .nav-toggle:checked ~ nav { 
    transform:scale(1,1);
    }
    
    .nav-toggle:checked ~ nav a{ 
    opacity: 1;
    transition: opacity 250 ease-in-out 250;
    }
    
    /*media query for desk top*/
    
    @media screen and (min-width:600px) { 
      .nav-toggle-label {
        display:none;
      }
      
       .container {
      display: grid;
      margin-bottom: 150px;
       }
      
      .card{ 
        padding:1em;
      }
      
      .navigation{
        display:grid; 
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
      }
      .logo{ 
        grid-column: 2/3;
    }
      nav{ 
      all: unset; 
       grid-column:3/4;
       display:flex; 
       justify-content:flex-end;
       align-items:center; 
      }
      nav ul {
        display:flex; 
        justify-content: flex-end;
      }
      nav li{
        margin-left:3em; 
        margin-bottom: 0; 
      }
      nav a { 
       opacity:1; 
        position: relative;
      }
       
    }

    .row {
      display: flex;
      align-items: center;
    }

    .row-2 {
      display: flex;
     
    }
    
    .column {
      flex: 50%;
    }
    
    .column_2 {
      flex: 50%;
    }

    .column_3 {
      flex: 50%;
    }
    
    .column_4 {
      flex: 50%;
    }

.hero-button{
  font-size:36px;
  color:#361A1A;
}

    button{
  padding: 10px 15px;
  margin: 10px;
  border:solid;
  background: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:black;
    }
    button:hover {
      background: #FFB84F;
    }
    

.lineup-container{
  display: grid;
  background-image: url(Images/Lineup.png);
  background-size:contain;
  background-repeat: no-repeat;
}

.line-up-content{
  margin:auto;
  padding:50px;
  text-align: center;
  line-height:1.2em;
 
}

.line-up{
  font-weight:500; 
  font-size: 32px;
  line-height: 1.4em;
  padding-bottom:40px;
}

.homepage-container{
  display:grid;
 background-position: 100% 115% ;
    background-image: url(Images/experience\ homepage.png);
    background-repeat: no-repeat;
  padding: 100px 0;
}


.container-gi{
background-position: 80% 600%;
background-image: url(Images/gi\ splatter.png);
    background-repeat: no-repeat;
}

.general-information{
text-align: center;
padding: 50px 0;
}

.general-information li{
  line-height: 1.9em;
  margin: 0 10px;

}

    .homepage{
      padding: 20px;
      text-align: center;
      line-height:1.2em;
    }

    .homepage-text{ 
      margin: 0 30px;
      padding-bottom: 20px;
    }


    .experience{
      padding: 20px;
      text-align: center;
      line-height:1.2em;
      
    
    }

    .experience_2{
      padding: 20px;
      text-align: center;
      line-height:1.2em;
      background-image: url(Images/Experience\ Pattern\ 2.png);      
      background-repeat: no-repeat;
      background-size: contain;
    }

    .experience_3{
      padding: 20px;
      text-align: center;
      line-height:1.2em;
      background-image: url(Images/Experience\ Pattern\ 3.png);      
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
      
     
     
    }

    .experience-container{
      background-image: url(Images/Experience\ Pattern\ 1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: -40;
      padding-top: 100px;
      
    }


    .container-pass-info{
      background-image: url(Images/Pass\ Info\ Splatter.png);
      background-repeat: no-repeat;
      text-align: center;
      background-size: contain;
     
     padding: 100px 0;
     line-height: 1.2em;

    }

    .packages-container{ 
      background-image: url(Images/Pass\ Info\ Splatter\ 2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 300% ;
      padding-bottom: 100px;
    }

    .container-music{
      padding: 100px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      text-align: center;
      background-image: url(Images/Music\ Splatter.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .stage{
      font-size: 40px;
      font-weight:600;
      
    }

    .schedule-card{
      font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-right: 1px solid black;
    }

    .schedule-card a{ 
      text-decoration: none;
      color:black;
    }

    .schedule-card a:hover{
      color:#FFB84F;
    }

    .schedule-card:last-child{
      border: none;
    }

    .tent-camping{
     
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
    }

    .option-1, 
    .option-2, 
    .option-3,
    .option-4{
      padding:100px 0;
    }

/*
    input[type='checkbox'] { 
      display: none; }

     .wrap-collabsible { 
      margin: 1.2rem 0; } 

     .lbl-toggle { 
      display: block;
       font-weight: bold; 
       font-family: monospace;
        font-size: 1.2rem; 
        text-transform: uppercase;
      
      text-align: center; 
      padding: 1rem; 
      color: black; 
      background: none;
       cursor: pointer; 
       border-radius: 7px; 
       transition:  all 0.25s ease-out; } 

      .lbl-toggle:hover {
         color: #FFB84F; } 

      .lbl-toggle::before { 
        content: ' ';
         display: inline-block; 
         border-top: 5px solid transparent; 
         border-bottom: 5px solid transparent; 
         border-left: 5px solid currentColor; 
         vertical-align: middle;
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; } 

      .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); } 

      .collapsible-content {
         max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; } 

      .toggle:checked + .lbl-toggle + .collapsible-content {
         max-height: 350px; } 

      .toggle:checked+.lbl-toggle { 
        border-bottom-right-radius: 0; border-bottom-left-radius: 0; } 

      .collapsible-content .content-inner { 
        background: none;
         
         border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: .5rem 1rem; }
        
       .collapsible-content p { margin-bottom: 0; }*/

   
    .form-container {
      justify-content: center;
      margin: 0 auto;
      display: flex;
      background: #F6E8C2;

    }
    .form-content {
      text-align: center;
    }
    
    
    form {
      padding-bottom: 3em;
      
    }
    
    form div {
      margin: 15px;
    }
    
    label {
      line-height: 2.5;
      font-size: .8em;
     
    }
    
    form input {
      padding: 5px;
      width: 35%;
      border: none;
      background: white;
      text-align: center;
    }

    .agree{
      margin: 0 450px;
      padding-bottom: 20px;
      line-height: .05;
    }
    
    .agree input{
      width: auto;
    }

    .body{ 
      background-color: #FFFDFA;
    }

    footer{
      background-color:#FFB84F;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding:100px 0;
    }

    footer li{
      list-style: none;
     }

     footer .media li{ 
      list-style: none;
      display:inline;
      
      }

      footer .media li a { 
        padding: 0 10px;
        
        }
        .media{ 
          margin-top:50px;
        }

        .twitter{ 
          width:2%;
        }
        .facebook{ 
          width:1%;
        }
      
        .instagram { 
          width:2%;
        }
      
        .tiktok{ 
          width:1.7%;
        }